* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(69, 90, 100);
    color: white;
    font-size: x-large;
    font-family: 'Baloo Tammudu', cursive;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-top: 150px;
    ;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-bottom: 25px;
}

.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

button {
    font-size: 18px;
    border: 2px solid #AD235F;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin-left: 45px;
    font-family: 'Baloo Tammudu', cursive;
}

button:hover {
    border: solid #337FED 1px;
}

button:focus {
    outline: 0;
}

#countdown {
    font-size: 50pt;
}

.slider-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 100px;
}

.arrow-up1 {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid lightgray;
}

.arrow-up2 {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid lightgray
}

.arrow-up3 {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid lightgray;
}

.arrow-down1 {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid lightgray;
}

.arrow-down2 {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid lightgray;
}

.arrow-down3 {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid lightgray;
}

.container-left {
    width: 75%;
}

.container-right {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}

.total-container {
    display: flex;
    align-items: flex-start;
    align-items: center;
    height: 100%;
}

#timerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display1 {
    padding-left: 10px;
    padding-right: 10px;
}

.display2 {
    padding-left: 10px;
    padding-right: 10px;
}

.display3 {
    padding-left: 10px;
    padding-right: 10px;
}

#timerContainer1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 50px;
}

#timerContainer2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 50px;
}

#timerContainer3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}